.img-style {
  max-width: 10rem;
  margin-left: 5rem;
  padding-bottom:3rem;
}

.img-style-large {
  max-width: 36rem;
  padding-bottom:3rem;
  background-color: lightgray;
}

.mat-card.pop {
  padding: 1rem;
  width: 19rem;
  height: 20rem;
  text-align: center;
}

.rating {
  float: left;
  padding: 1rem;
}

