.container{
  display: flex;
  align-items: flex-start;
}

.img-style-big{
  max-width: 38rem;
  padding-bottom:3rem;
  background-color: lightgray;
}

.book-dtl{
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

.mat-card-footer {
  display: flex;
  justify-content: center;
}
